.cart-container{
  background-color: teal;
  padding: 10px 0 0 10px;
  margin: 0 -5px;
  position: sticky;
  z-index: 999;
  top: 73px;
}

.cart-item{
  margin-right: 5px;
  margin-bottom: 10px;
}

.cart-item p{
  margin-bottom: 0;
}

.package-btn{
  margin-bottom: 10px;
  margin-right: 10px;
}